<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Engaging Orthodox youth in big ideas.</h2>
        <p class="lead"> Our youth need more than just Sunday school to be ready to become courageous culture warriors.</p>
        <p> St. Maximos Academy is combining philosophy, patristic theology, and cultural literacy to awaken minds and attract hearts. By supporting parental efforts in church, school, and home, we are attacking false ideas and opening the way for the light of the gospel. 
          <a href="#">(Link here.)</a></p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
