<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>How to participate</h3>
        <a href="#" class="btn btn-lg btn-light">Follow us on Facebook</a>
        <a href="#" class="btn btn-lg btn-dark">Enroll in the year-round Academy</a>
        <a href="#" class="btn btn-lg btn-dark">Sign up for the summer / winter conference</a>
        <a href="#" class="btn btn-lg btn-dark">Contact us</a>
      </div>
    </div>
  </div>
</aside>
